*{
  margin: 0;
  padding: 0;
  font-family: "Verdana,sans-serif"'
}

.header{
  height: 100px;
  background: #FFFF00
  padding: 0 20px;
  color: #fff;
}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;

}

.menu{
  float: right;
  line-height: 100px;
}

.menu a{
  color: ##00FF00;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  transition: 0.4s;
  font-weight: bold;
}

p{
  border: 1px solid #FC0300;
  padding: 20px;
  background-color: #FC0300;
  text-align: justify;
  font-family: ""Verdana,sans-serif";
  font-size: 20px;
  letter-spacing: 0px;
  word-spacing: 3.4px;
  color: #800000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

div.archimedes{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head{
  background: linear-gradient(blue, pink)
}

.show-menu-button, .hide-menu-button{
  transition: 1s;
  font-size: 20px;
  cursor: pointer;
  display: none;

}

.show-menu-button{
  float: right;
}

.show-menu-button i{
  line-height: 100px;
}

.menu a:hover,
.show-menu-button:hover,
.hide-menu-button{
  color: #FFFFD2;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}

.content img{
  width: 100%;
  max-width: 700px;
  margin: 20 0px;
}

p2{
  border: 1px solid #FFFFD2;
  padding: 20px;
  font-family: Verdana;
  background-color: #FFFFD2;
  text-align: justify;
  font-size: 20px;
}
